.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    transition: all 0.3s ease;
}

.popup__open{
    opacity: 1;
    visibility: visible;
}

.popup__content{
    color: black;
    background-color: #bfaf8c;;
}

.popup__content__row{
    display: flex;
    justify-content: space-between;
}

.popup__close-icon{
    width: 29px;
    height: 29px;

    margin-top: 39px;
    margin-right: 34px;

    cursor: pointer;
}

.popup__content__heading{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    font-family: 'Oswald';
    padding-top: 47px;
    padding-left: 57px;
    margin-bottom: 147px;
}

.popup__content__input{
    font-size: 32px;
    line-height: 38px;
    font-family: 'Oswald';
    padding: 10px 0 10px 22px;
    margin-bottom: 234px;
    margin-left: 62px;
    border-radius: 15px;
}

.popup__content__button{
    font-size: 32px;
    line-height: 38px;
    color: #fff;
    background-color: #2a967f;
    border: 0;
    font-family: 'Oswald';
    padding: 10px 77px;
    margin-right: 47px;
    border-radius: 15px;
}